.task{
    background: #f4f4f4;
    margin:5px;
    padding:10px 20px;
    cursor:pointer;
    border-left:5px solid #f39c12;
    
}
/*.task.reminder{
    border-left:5px solid #f39c12;
}*/
.task p{
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin:0;
    line-height:25px;
}
.iconClose{
    color:red;
}